<div class="container-fluid">
I will kill<br>
I will let live<br>
I will harm and heal<br>
None will escape me<br>
None will escape my sight<br>
<br>
Be crushed<br>
I welcome those who have grown old<br>
And those who have lost<br>
<br>
Devote yourself to me<br>
Learn from me<br>
And obey me<br>
<br>
Rest<br>
Do not forget song<br>
Do not forget prayer<br>
And do not forget me<br>
I am light and will relieve you of all your burden<br>
<br>
Do not pretend<br>
Retribution for forgiveness<br>
Betrayal for trust<br>
Despair for hope<br>
Darkness for light<br>
Dark death for the living<br>
<br>
Relief is in my hands<br>
I will add oil to your sins and leave a mark<br>
<br>
Eternal life is given through death<br>
<br>
Ask for forgiveness here<br>
I, the incarnation, will swear<br>
Kyrie Eleison

</div>